In [1]:
#Libraries
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]
#This means that there are 3 columns per row

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [9]:
# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighbourhood
"

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
[len(C) for (title,C) in col]

[181, 181, 181]

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head()

  Postal Code\n           Borough\n              Neighbourhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [14]:
df.columns = ['Borough', 'Neighbourhood','Postcode']

cols = df.columns.tolist()
cols

cols = cols[-1:] + cols[:-1]

df = df[cols]

df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [15]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [16]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

  Postcode            Borough                                 Neighbourhood
0     M1A       Not assigned                                  Not assigned
1     M2A       Not assigned                                  Not assigned
2     M3A         North York                                     Parkwoods
3     M4A         North York                              Victoria Village
4     M5A   Downtown Toronto                     Regent Park, Harbourfront
5     M6A         North York              Lawrence Manor, Lawrence Heights
6     M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government
7     M8A       Not assigned                                  Not assigned
8     M9A          Etobicoke       Islington Avenue, Humber Valley Village
9     M1B        Scarborough                                Malvern, Rouge

In [17]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

,Postcode,Borough,Neighbourhood
0,,Canadian postal codes,
1,M1A,Not assigned,Not assigned
2,M1B,Scarborough,"Malvern, Rouge"
3,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
4,M1E,Scarborough,"Guildwood, Morningside, West Hill"
5,M1G,Scarborough,Woburn
6,M1H,Scarborough,Cedarbrae
7,M1J,Scarborough,Scarborough Village
8,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
9,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"

In [18]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

In [19]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [21]:
df.shape

(181, 3)

In [22]:
df.to_csv(r'df_canada.csv')